RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /opt/lampp/htdocs/curso-php/03-phpSuperAvancado/25-popular-select-a-partir-de-outro/index.php/$1 [QSA,L]
