RewriteEngine On  # Liga a engine Rewrite
RewriteCond %{REQUEST_FILENAME} !-f # Condição que ignora nas requisições os nomes de aruivos reais
RewriteCond %{REQUEST_FILENAME} !-d # Condição que ignora nas requisições os diretórios
                                    #Ex.: http://www.site.com.br/imagem.jpg -> Está acessando um arquivo de imagem

RewriteRule ^(.*)$ index.php?q=$1 [L] #Cria a regra para mudar o acesso na url 
                                    
# O usuário acessa assim: http://www.site.com.br/artigo_da_fulana

# O servidor irá entender assim: http://www.site.com.br/index.php?q=artigo_da_fulana
                                    